.board-serach {
    margin-left: auto;
}

.post-title {
    text-decoration: none;
    border: none;
    background-color:transparent;
    color: rgb(56, 56, 241);
}

.post-content {
    height: 400px;
    resize: none;
}

.btn-list button {
    margin-right: 5px;
    width: 65px;
}

.link-write {
    text-decoration: none;
    color: white;
}

.link-write:hover {
    color:white;
}